.row {
  margin-right: 0;
  margin-left: 0;
}
#three-circles-wrapper {
  justify-content: center;
}

.dashboard {
  width: 100%;
  background-color: #f5f8fa;
  padding: 30px 25px;
}
.dashboard .container-fluid {
  background-color: white;
  border-radius: 10px;
}
.dashboard .form_inputs {
  padding: 40px;
}
.table_with_data {
  padding: 0 40px 35px;
}

.table_D {
  display: flex;
  justify-content: center;
}

.dashboard form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard input {
  border: none;
  outline: none;
  background-color: #f5f8fa;
  color: #a1a5b7;
  font-weight: 600;
  border-radius: 7px;
  padding: 0 10px;
}

.filter_btn {
  background-color: #f1faff;
  color: #009ef7;
  border: none;
  padding: 10px 25px;
  transition: 0.5s;
  border-radius: 7px;
}
.filter_btn:hover {
  background-color: #009ef7;
  color: #f1faff;
}

.reset_btn {
  border: none;
  background-color: #fff5f8;
  color: #f1416c;
  border-radius: 7px;
  padding: 10px 25px;
  font-weight: 600;
  transition: 0.5s;
}

.reset_btn:hover {
  background-color: #f1416c;
  color: #fff5f8;
}

table {
  width: 100%;
}
table th {
  color: #a1a5b7;
  border-bottom: 1px dashed #eff2f5;
  padding: 20px 0;
  font-size: 15px;
}

td {
  padding: 20px 0;
  font-weight: 600;
  transition: 0.3s;
}
td:hover {
  color: #009ef7;
}

tr {
  border-bottom: 1px dashed #eff0f1;
}

.actions_title {
  display: flex;
  justify-content: center;
}

.table_with_data span {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i:hover {
  color: #009ef7;
}

.delete,
.edit {
  background-color: #f5f8fa;
  color: #a1a5b7;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
}

.showNitems {
  width: 35%;
}
.deleteMoreThanOne_btn {
  padding: 8px 20px;
  background-color: #f1416c;
  color: white;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
  outline: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.deleteMoreThanOne_btn:hover {
  background-color: #df1648;
}

.bottom_dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom_dashboard_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.bottom_dashboard_left select {
  font-size: 13px;
  border: none;
  background-color: #f5f8fa;
  border-radius: 10px;
  outline: none;
  height: 100%;
}

.bottom_dashboard_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
}

.bottom_dashboard_right ul {
  list-style: none;
  display: flex;
}

.bottom_dashboard_right ul a {
  color: #5e6278;
  font-weight: 500;
  padding: 6px 13px;
  border-radius: 7px;
}

.bottom_dashboard_right ul a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f1faff;
  color: #009ef7;
}

.selected {
  background-color: #c0eaff;
  color: white;
  border-radius: 8px;
  color: white;
}

li:not(:first-child):not(:last-child) {
  display: none;
}
